<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div id="portal-main-container">
		<div id="portal-header-container">
			<header id="portal-main-header">
				<div class="portal-social-panel">
					<ul>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><button class="sign-in" name="sign">SIGN IN</button></li>
					</ul>
				</div>
				<a href="/#/portal/edit/"><img class="portal-logo" src="/portal/img/portal-logo.png" alt="logo" title="CITY DOWNHILL" /></a>
			</header>
		</div>
		<div id="portal-menu-panel-container">
			<div id="portal-menu-panel" xpsui-portal-menu-render></div>
		</div>
		
		<div id="portal-content-container">
			<div id="portal-main-content" class="portal-main-content-editor">
				<article id="portal-article" xpsui-portal-article-content-edit ng-model="model.data">
				</article>
			</div>
			<div id="portal-content-videoshowcase">
					
			</div>
			<div id="portal-content-location">
				<div class="portal-content-location-container">
					<h1 class="portal-content-title">
						LOCATION 2015
					</h1>
					<div class="location-slider">
						<div class="location-slider-item">
							<a href="">
								<div class="slider-item-image">
									<img src="../client/img/item1.png" height="79" width="74" alt="logo-location">
								</div>
							</a>
							<div class="slider-item-title">
								TAXCO
							</div>
							<div class="slider-item-abstract">
								25.07.2015
							</div>
							<div class="slider-item-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vero, quisquam. Similique officia laboriosam ratione illo vero architecto mollitia aspernatur? Excepturi quo a nisi placeat recusandae magnam sint dolorem, architecto.
							</div>
							<div class="slider-item-more">
								<a href="">Read more ...</a>
							</div>
						</div>
						<div class="location-slider-item">
							<a href="">
								<div class="slider-item-image">
									<img src="../client/img/item2.png" height="71" width="97" alt="logo-location">
								</div>
							</a>
							<div class="slider-item-title">
								VALPARAISO
							</div>
							<div class="slider-item-abstract">
								25.07.2015
							</div>
							<div class="slider-item-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vero, quisquam. Similique officia laboriosam ratione illo vero architecto mollitia aspernatur? Excepturi quo a nisi placeat recusandae magnam sint dolorem, architecto.
							</div>
							<div class="slider-item-more">
								<a href="">Read more ...</a>
							</div>
						</div>
						<div class="location-slider-item">
							<a href="">
								<div class="slider-item-image">
									<img src="../client/img/item3.png" height="62" width="86" alt="logo-location">
								</div>
							</a>
							<div class="slider-item-title">
								BRATISLAVA
							</div>
							<div class="slider-item-abstract">
								25.07.2015
							</div>
							<div class="slider-item-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vero, quisquam. Similique officia laboriosam ratione illo vero architecto mollitia aspernatur? Excepturi quo a nisi placeat recusandae magnam sint dolorem, architecto.
							</div>
							<div class="slider-item-more">
								<a href="">Read more ...</a>
							</div>
						</div>
						<div class="location-slider-item">
							<a href="">
								<div class="slider-item-image">
									<img src="../client/img/item4.png" height="80" width="85" alt="logo-location">
								</div>
							</a>
							<div class="slider-item-title">
								BIKE TOWN
							</div>
							<div class="slider-item-abstract">
								25.07.2015
							</div>
							<div class="slider-item-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vero, quisquam. Similique officia laboriosam ratione illo vero architecto mollitia aspernatur? Excepturi quo a nisi placeat recusandae magnam sint dolorem, architecto.
							</div>
							<div class="slider-item-more">
								<a href="">Read more ...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="portal-content-nextrace">
				<div class="portal-content-nextrace-container">
					<h1 class="portal-content-title">
						NEXT RACE
					</h1>
					<div class="nextrace-container left">
						<div class="nextrace-title">
							25.03.2015
						</div>
						<div class="nextrace-subtitle">
							BRATISLAVA CITY DOWNHILL
						</div>
						<div class="nextrace-abstract">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. In maxime animi quae, earum aperiam numquam enim nobis obcaecati provident perspiciatis. Illum totam, ducimus laboriosam iure esse. Nostrum fugiat ipsa fugit.
						</div>
						<div class="nextrace-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam perspiciatis repudiandae enim at voluptas beatae soluta corrupti veritatis laboriosam id nihil dolor doloribus, quaerat consequuntur dolorem eveniet. Porro, nesciunt animi!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quae. Voluptas consectetur quam, veniam ex obcaecati doloremque, minus expedita architecto ab ipsum. Fugit inventore architecto dolor at voluptatem, tenetur incidunt.
						</div>
						<div class="nextrace-share">
							<ul class="nextrace-social">
								<li>SHARE <i class="fa fa-share-square-o fa-2x"></i></li>
								<li><i class="fa fa-facebook"></i></li>
								<li><i class="fa fa-twitter"></i></li>
								<li><i class="fa fa-google-plus"></i></li>
								<li><i class="fa fa-linkedin"></i></li>
								<!-- <li><img src="../client/img/socialBG.png" height="72" width="72" alt=""></li>
								<li><img src="../client/img/socialBG.png" height="72" width="72" alt=""></li>
								<li><img src="../client/img/socialBG.png" height="72" width="72" alt=""></li>
								<li><img src="../client/img/socialBG.png" height="72" width="72" alt=""></li> -->
							</ul>
						</div>
					</div>
					<div class="nextrace-container right">
						<img class="nextrace-img" src="../client/img/nextrace-logo.png" height="382" width="568" alt="">
					</div>
				</div>
			</div>
			<div id="portal-content-riderszone">
				<div class="portal-content-riderszone-container">
					<h1 class="portal-content-title">
						RIDERS ZONE
					</h1>
					<div class="riderszone-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestias nisi fugit, aliquam quaerat, delectus ullam magnam, enim laboriosam eum pariatur! At consequuntur quia officiis similique.</div>
					<div class="riderszone-slider">
						<div class="riderszone-slider-item">
							<div class="riderszone-slider-item-image">
								<img src="" alt="">
							</div>
							<div class="riderszone-slider-item-rider">
								<div class="rider-title">
									Filip Polc
								</div>
								<div class="rider-text">
									World city downhill champion
								</div>
							</div>
						</div>
						<div class="riderszone-slider-item">
							<div class="riderszone-slider-item-image">
								<img src="" alt="">
							</div>
							<div class="riderszone-slider-item-rider">
								<div class="rider-title">
									Jessica Christopher
								</div>
								<div class="rider-text">
									Developer
								</div>
							</div>
						</div>
						<div class="riderszone-slider-item">
							<div class="riderszone-slider-item-image">
								<img src="" alt="">
							</div>
							<div class="riderszone-slider-item-rider">
								<div class="rider-title">
									Robert Thomas
								</div>
								<div class="rider-text">
									Marketing
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<header id="main-footer">
			Unionsoft, s.r.o, Všetky práva vyhradené
		</header>
	</div>
